:root {
 
    --color-dark-brown: rgb(76, 46, 6);
    --color-light-brown: rgb(96, 56, 16);
    --color-gold: #d4af37;
    --color-dark-brown-medieval: #4a2c2a;
}

body {
    background-image: url("../Imagenes/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Merriweather', serif;
    color: burlywood;
}

.logo {
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

.inicioSesion {
    max-width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inicioSesion h1 {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 3rem;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
}

.inicioSesion label, .inicioSesion p {
    font-size: larger;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
}

.inicioSesion input {
    background-color: burlywood;
    border: 2px solid var(--color-dark-brown);
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}

.inicioSesion button {
    background-color: var(--color-dark-brown);
    color: beige;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.inicioSesion button:hover {
    background-color: var(--color-light-brown);
    transform: scale(1.05);
}

.inicioSesion input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--color-dark-brown);
}

.checkbox-medieval {
    font-size: 18px;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}

.checkbox-medieval input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-medieval .checkmark {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--color-dark-brown-medieval);
    border: 2px solid var(--color-gold);
    border-radius: 4px;
    transition: 0.3s;
}

.checkbox-medieval input:checked + .checkmark {
    background-color: var(--color-gold);
    border: 2px solid #fff;
}

.checkbox-medieval .checkmark::after {
    content: "✓";
    position: absolute;
    display: none;
    color: var(--color-dark-brown-medieval);
    font-weight: bold;
    top: -6px;
}

.checkbox-medieval input:checked + .checkmark::after {
    display: block;
}

.checkbox-medieval input:checked + .checkmark {
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.8);
}